<div ng-controller="mainCtrl">


  First Name<input type="text" ng-model="objSignUp.firstname">
  Last Name <input type="text" ng-model="objSignUp.lastname">
  <button ng-click="regs()">Register</button>
  <hr>
  <button ng-click="getList()">Refresh Table</button>
  <table class = "table">
   <caption>List Of Employes</caption>

   <thead>
      <tr>
         <th>First Name</th>
         <th>Last Name</th>
      </tr>
   </thead>

   <tbody>
      <tr ng-repeat="emp in aryList track by $index">
         <td>{{emp.firstname}}</td>
         <td>{{emp.lastname}}</td>
      </tr>


   </tbody>

</table>

<!--  {{aryList}}-->
</div>
